<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
<<<<<<< HEAD
  <%= @comment.post %>
=======
  <%= @comment.Post_id %>
>>>>>>> f4ad2c7814d7a635e8dc9e3e171614cc8f0a946f
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
